body{
    background: #46139F;
}

.titulo{
    margin-top: 5%;
    color: #AD86F1;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.conteiner{
    margin-top: 7%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    text-align: center;
}

img{
    width: 30%;
}

a{
    text-decoration: none;
}

h2{
    color: #AD86F1;
}

.buttom :hover{
    background-color: #360a7c;
}